<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head.ejs")%>

    <body>

        <%- include("../partials/header.ejs") %>
            <div class="producto-creado">
                <div class="row">
                    <div class="col-12 my-5">
                        <h1>Has añadido un nuevo producto</h1>
                        <a href="/">Volver al home para verlo en pantalla</a>
                    </div>
                </div>

            <%- include('./partials/footer') %>
        </body>
        </html>