<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/home.css">
    
    <title>Sexto Sol</title>
</head>
<body>
    <% if(locals.user) { %>
        <%- include('./partials/header', {user: user}) %> 
    <% } else { %>
    <%- include('./partials/header') %>
    <% } %>
   
        <!--Carrusel de imagenes en home todas las plantas-->
        <section class="container-02">
         <div class="slider">
            <div class="slide-1"></div>
            <div class="slide-2"></div>
            <div class="slide-3"></div>
            <div class="slide-1"></div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Descubre nuestras plantas con macetas personalizadas, te van a encantar</p>
                    <a href="/products/sinflor">Comprar</a>
            </div>
    </section>
    <main> 
            <!-- plantas sin flor -->
            <section>
                <h2>Plantas sin flor</h2>
                <div class='products'>
                    <article>
                        <h3 class='description'>Aloe Vera</h3>
                        <div class='box-price'>
                            <p class='price'>$450</p>
                            <p class='discount'>20% off</p>
                        </div>
                        <li><a href="/cart">Agregar al carro<i class="fas fa-shopping-basket"></i></a></li>
                        <img src='img/aloe-vera.jpg' width='360' alt='Aloe Vera'>
                        <div class='main-article'>
                            <li><a href="products/sinflor">Ver otras de su categoría<i class='fas fa-truck'></i></a></li>
                        </div>
                    </article>
                    <article>
                        <h3 class='description'>Arbol de Jade</h3>
                        <div class='box-price'>
                            <p class='price'>$750</p>
                            <p class='discount'>15% off</p>
                        </div>
                        <li><a href="/cart">Agregar al carro<i class="fas fa-shopping-basket"></i></a></li>
                        <img src='/img/arbol-jade.jpg' width='360' alt='Arbol de Jade'>
                        <div class='main-article'>
                            <li><a href="products/sinflor">Ver otras de su categoría<i class='fas fa-truck'></i></a></li>
                        </div>
                    </article>
                    <article>
                        <h3 class='description'>Cola de Tigre</h3>
                        <div class='box-price'>
                            <p class='price'>$700</p>
                            <p class='discount'>10% off</p>
                        </div>
                        <li><a href="/cart">Agregar al carro<i class="fas fa-shopping-basket"></i></a></li>
                        <img src='/img/cola-de-tigre.jpg' width='360' alt='Cola de Tigre'>
                        <div class='main-article'>
                            <li><a href="products/sinflor">Ver otras de su categoría<i class='fas fa-truck'></i></a></li>
                        </div>
                    </article>
                    <article>
                        <h3 class='description'>Monstera Deliciosa</h3>
                        <div class='box-price'>
                            <p class='price'>$650</p>
                            <p class='discount'>5% off</p>
                        </div>
                        <li><a href="/cart">Agregar al carro<i class="fas fa-shopping-basket"></i></a></li>
                        <img src='/img/monstera-deliciosa.jpg' width='360' alt='Monstera Deliciosa'>
                        <div class='main-article'>
                            <li><a href="/#">Envío a domicilio<i class='fas fa-truck'></i></a></li>
                        </div>
                    </article>
           
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>